th, td {
	padding: 30px;
}
.table_div2{
   margin-left: auto;
   margin-right: auto;
   position: relative;
}
.main_div2{
    margin-left: 250px;
    margin-right: 200px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}